html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
  margin: 0 auto;
  width: 1200px;
  padding: 20px;
}
.error {
  color: red;
}
td,
th {
  border: 1px solid darkblue;
  height: 60px;
}
td img {
  height: 100%;
}
header h3 {
  font-weight: 300;
  display: inline;
  margin-right: 50px;
}
#matches {
  display: flex;
  justify-content: start;
  width: 100%;
  margin: 20px;
}
#matches label {
  margin-right: 30px;
}
#matches span {
  margin: 0 10px;
}
.username,
.match-results {
  color: darkblue;
  font-weight: 700;
}
