html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
  margin: 0;
}
.error {
  color: red;
}
td,
th {
  border: 1px solid darkblue;
  height: 60px;
}
td img {
  height: 100%;
}
